@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Assistant";
  src: url("https://excalidraw.com/Assistant-Regular.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("/assets/fonts/CascadiaCode.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("/assets/fonts/CascadiaCodeItalic.woff2");
  font-style: italic;
}

.md-logo img {
  content: url('/assets/fatigue-light.svg');
}

:root {
  font-size: 20px;
}

:root [data-md-color-scheme=slate] .md-logo img  {
  content: url('/assets/fatigue-dark.svg');
}

.md-typeset { 
  font-size: 0.7rem;
}

.md-typeset code {
  font-size: 0.6rem;
}

.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
  vertical-align: sub;
}
