@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Assistant";
  src: url("https://excalidraw.com/Assistant-Regular.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("/assets/fonts/CascadiaCode.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("/assets/fonts/CascadiaCodeItalic.woff2");
  font-style: italic;
}
